New_Idol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Will_this_Idol_need_training</name>
        <label>Will this Idol need training</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>New_Face</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fresh Face</defaultConnectorLabel>
        <rules>
            <name>Experienced_Idol</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Experienced_Idol</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Idol_Record</targetReference>
            </connector>
            <label>Experienced Idol</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Male_or_Female</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sex__c</picklistField>
        <picklistObject>Idol__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>New_Idol_Intial_Skillset_overall_score</name>
        <dataType>Number</dataType>
        <expression>{!Dance_Skill_Rating}+{!Foreign_Language_Competency}+{!Music_Composition_Rating}+{!Vocal_Talent_Rating}/4</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>New Idol {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Idol</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Idol_Record</name>
        <label>New_Idol_Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <inputReference>New_Idol_Created</inputReference>
    </recordCreates>
    <screens>
        <name>New_Face</name>
        <label>New Face</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Dance_Skill_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Dance Skill Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Vocal_Talent_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Vocal Talent Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Foreign_Language_Competency</name>
            <dataType>Number</dataType>
            <fieldText>Foreign Language Competency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Music_Composition_Rating</name>
            <dataType>Number</dataType>
            <fieldText>Music Composition Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Score</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>New_Idol_Intial_Skillset_overall_score</elementReference>
            </defaultValue>
            <fieldText>Total Score</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Begin the creation of you new Idol!</description>
        <name>New_Idol</name>
        <label>New Idol</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Will_this_Idol_need_training</targetReference>
        </connector>
        <fields>
            <name>Idol_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Idol_Name.lastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Sex</name>
            <choiceReferences>Male_or_Female</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sex</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PhoneNumber</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Idol_Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>National_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue/>
            </defaultValue>
            <fieldText>National ID #</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Training_Needed</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Experienced_Idol</elementReference>
            </defaultValue>
            <fieldText>Training Needed?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_and_Time_Recruited</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Date_Recruited</elementReference>
            </defaultValue>
            <fieldText>Date and Time Recruited</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Idol</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Date_Recruited</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Date_and_Time_Recruited</elementReference>
        </value>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>Goes_To_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Group</stringValue>
        </value>
    </variables>
    <variables>
        <name>Idol_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>PhoneNumber.value</elementReference>
        </value>
    </variables>
    <variables>
        <name>New_Idol_Created</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Idol__c</objectType>
    </variables>
    <variables>
        <name>Sex_Option</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
